/* #region general */

body {
    margin: 0;

    background-color: #22272e;
    overflow-y: hidden;
}

header {
    height: 32px;

    padding: 16px;
    padding-left: 96px;

    background-color: #6d56bf;
}

header::after {
    width: 96px;
    height: 96px;

    position: absolute;
    top: 0;
    left: -20px;

    /* just to make it visible */
    content: "";
    box-shadow: -4px 0px 10px #22272e;

    background-color: #bf92f9;
    transform: skewX(40deg);
}

nav {
    transform: translateY(-2px);
}

nav>a {
    padding: 8px;

    font-family: 'Bebas Neue', cursive;
    font-size: 32px;
    text-decoration: none;
    text-shadow: 0px 0px 10px #22272e;

    color: white;
    transition: .25s text-shadow;
}

nav>a:hover {
    text-shadow: 0px 0px 10px white;
}

nav>i {
    width: 4px;
    height: 16px;

    display: inline-block;
    box-shadow: -0px 0px 6px #22272e;

    background-color: white;
    transform: scaleY(2) translateY(-2px);
}

#content {
    height: calc(100vh - 128px);

    padding: 32px 256px;

    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;

    color: #adbac7;
    overflow-y: auto;
}

#content>*:first-child {
    margin-top: 0px !important;
}

#content::-webkit-scrollbar {
    width: 16px;
}

#content::-webkit-scrollbar-thumb {
    background-color: #6d56bf;
}

#content::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0px 0px 8px #bf92f9;
}

/* #endregion */
/* #region about & learn */

h1 {
    padding-bottom: 9px;
    margin-top: 32px;
    margin-bottom: 16px;

    border-bottom: 1px solid;
    border-color: #383f47;
}

h2 {
    margin-top: 26px;
    margin-bottom: 14px;
}

#content a {
    text-decoration: none;
    text-shadow: 0px 0px 0px #22272e;

    color: #bf92f9;
    transition: .25s text-shadow;
}

#content a:hover {
    text-shadow: 0px 0px 1px #bf92f9;
}

/* #endregion */
/* #region learn */

#alphabet {
    padding: 8px;
    margin: 32px;

    border: 1px solid;
    border-color: #444c56;
    border-radius: 8px;

    display: flex;
}

#alphabet>div:nth-child(1) {
    flex-grow: 1;

    font-size: 28px;
    text-align: center;

    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    align-items: center;
    justify-items: center;
}

#alphabet>div:nth-child(2) {
    width: 25%;
    padding-left: 32px;

    align-self: center;
}

#alphabet>div>img {
    max-width: 46px;
    margin: -2px;
}

.notation {
    width: 512px;
    float: right;

    font-size: 28px;
    text-align: center;
    line-height: 1.2em;

    border-left: 1px solid;
    border-color: #383f47;
}

.box {
    width: calc(100% - 512px - 32px);
    margin-bottom: 32px;

    border: 1px solid;
    border-color: #444c56;
    border-radius: 8px;
}

.box>div {
    padding: 8px;
}

.box>div:nth-child(1) {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    display: flex;
    background-color: #444c56;
}

/* #endregion */
/* #region vocabulary */

#word-form {
    border-color: #444c56 !important;
}

#word-form>div:nth-child(2) {
    width: 30%;

    display: grid;
    grid-template-columns: 20px auto 20px auto 20px auto;
    align-items: center;
}

#word-search {
    width: calc(100% - 34px);

    padding: 4px 16px;
    margin: 32px 0px;

    font-family: "Noto Sans";
    font-size: 16px;

    border: 1px solid;
    border-color: #444c56;
    border-radius: 14px;

    color: white;
    background-color: #22272e;

    outline: none;
    transition: .25s border-color;
}

#word-search:hover {
    border-color: #6d56bf;
}

#word-search:focus {
    border-color: #bf92f9;
}

#word-list {
    margin-right: 64px;
    row-gap: 32px;
    column-gap: 32px;

    display: grid;
    grid-template-columns: 33.333% 33.333% 33.333%;
}

.word {
    border: 1px solid;
    border-color: #444c56;
    border-radius: 8px;
}

.word:hover {
    border-color: #6d56bf;
}

.word>div {
    padding: 8px;
}

.word>div:nth-child(1) {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    display: flex;
    background-color: #444c56;
}

/* #endregion */
/* #region input */

input[type="checkbox"],
input[type="radio"] {
    width: 14px;
    height: 14px;

    margin: 0px 3px;

    border: 1px solid;
    border-color: #444c56;
    border-radius: 4px;

    background: linear-gradient(135deg, #bf92f9 50%, #0000 50%);
    background-size: 28px 28px;
    background-position: -14px -14px;

    appearance: none;
    transition: .15s border-width, .25s border-color, .25s background-color, .25s background-position;
}

input[type="checkbox"]:hover:not([disabled]) {
    border-color: #6d56bf;
    background-position: -11px -11px;
}

input[type="checkbox"]:checked:not([disabled]) {
    border-color: #bf92f9;
    background-position: 0px 0px;
}

input[type="checkbox"]:disabled {
    background-color: #444c56;
}

input[type="radio"] {
    border-radius: 7px;
}

input[type="radio"]:hover:not([disabled]) {
    border-color: #6d56bf;
}

input[type="radio"]:checked:not([disabled]) {
    border-width: 7px;
    border-color: #bf92f9;
}

input[type="radio"]:disabled {
    background-color: #444c56;
}

/* #endregion */
