body {
    margin: 0;

    background-color: #22272e;
    overflow-y: hidden;
}

header {
    height: 32px;

    padding: 16px;
    padding-left: 96px;

    background-color: #6d56bf;
}

header::after {
    width: 96px;
    height: 96px;

    position: absolute;
    top: 0;
    left: -20px;

    /* just to make it visible */
    content: "";
    box-shadow: -4px 0px 10px #22272e;

    background-color: #bf92f9;
    transform: skewX(40deg);
}

nav {
    transform: translateY(-2px);
}

nav>a {
    padding: 8px;

    font-family: 'Bebas Neue', cursive;
    font-size: 32px;
    text-decoration: none;
    text-shadow: 0px 0px 10px #22272e;

    color: white;
    transition: .25s text-shadow;
}

nav>a:hover {
    text-shadow: 0px 0px 10px white;
}

nav>i {
    width: 4px;
    height: 16px;

    display: inline-block;
    box-shadow: -0px 0px 6px #22272e;

    background-color: white;
    transform: scaleY(2) translateY(-2px);
}

#content {
    height: calc(100vh - 96px);

    padding: 32px 256px 0px 256px;

    font-family: "Noto Sans";
    font-size: 16px;
    line-height: 1.5;

    color: #adbac7;
    overflow-y: auto;
}

#content::-webkit-scrollbar {
    width: 16px;
}

#content::-webkit-scrollbar-thumb {
    background-color: #6d56bf;
}

#content::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0px 0px 8px #bf92f9;
}

/* #region vocabulary */

#word-search {
    width: calc(100% - 34px);

    padding: 4px 16px;
    margin-bottom: 32px;

    font-family: "Noto Sans";
    font-size: 16px;

    border: 1px solid;
    border-color: #444c56;
    border-radius: 14px;

    color: white;
    background-color: #22272e;

    outline: none;
    transition: .25s border-color;
}

#word-search:hover {
    border-color: #6d56bf;
}

#word-search:focus {
    border-color: #bf92f9;
}

#word-list {
    display: grid;
    grid-template-columns: 50% 50%;
}

.word {
    margin-bottom: 32px;

    border: 1px solid;
    border-color: #444c56;
    border-radius: 8px;
}

.word-original,
.word-translation {
    padding: 8px;

    flex-grow: 1;
    background-color: #444c56;
}

.word-original {
    border-top-left-radius: 6px;
}

.word-translation {
    border-top-right-radius: 6px;
}

/* #endregion */